<app-navbar></app-navbar>
<body>
    <div class="container"> 
        <div class="row d-flex justify-content-center">
            <div class="col-6 mb-5 mt-5 ps-1 pe-1">
                <div class="row mt-5 pt-1 d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="./gestion-animal" role="button">
                        <img src="../../../assets/gestionAnimal.png"
                        height="50px" width="50px">
                        <p class="textBoton">Gestion de Animales</p>
                    </a>
                </div>
                <div class="row mt-5 d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="/transferencia" role="button">
                        <img src="../../../assets/transferencia.png"
                        height="50px" width="50px">
                        <p class="textBoton">Transferencia de Datos</p>
                    </a>
                </div>
                <div class="row mt-5 mb-5 pb-1 d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="/sincronizacion" role="button">
                        <img src="../../../assets/sinconizacion.png"
                        height="50px" width="50px">
                        <p class="textBoton">Sincronizar Hora</p>
                    </a>
                </div>                
            </div>
            <div class="col-6 mb-5 mt-5 pb-1">
                <div class="row mt-5 pt-1 d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="/nuevoanimal" role="button">
                        <img src="../../../assets/agregarAnimal.png"
                        height="50px" width="50px">
                        <p class="textBoton">Agregar Animal</p>
                    </a>
                </div>
                <div class="row mt-5 d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="/analisis" role="button">
                        <img src="../../../assets/analisis.png"
                        height="50px" width="50px">
                        <p class="textBoton">Analisis</p>
                    </a>
                </div>
                <div class="row mt-5 d-flex justify-content-center">
                    <a class="btn btn-outline-primary" href="/alarmas" role="button">
                        <img src="../../../assets/alarma.png"
                        height="50px" width="50px">
                        <p class="textBoton">Alarmas</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<!--*******************************************************************************************************-->

<footer class="text-center text-lg-start bg-white text-muted" style="background-color: #a8a2a2 !important;">
    <section class="d-flex justify-content-center justify-content-lg-end p-2 border-bottom" style="background-color: #b41f15;">
        <div class="me-5 d-flex d-lg-block justify-content-end" style="font-family:'dosis','sans-serif';color: #a8a2a2;font-size: 1.2rem;font-weight: 700; ">
            <span>Seguimos en contacto a traves de las Redes:</span>
        </div>
        <div>
            <a href="https://www.instagram.com/termoplastequipamientos/" class="me-4 link-secondary">
                <img src="../../../assets/instagram.png" height="25px" width="25px">
            </a>
            <a href="https://www.facebook.com/people/Termoplast-Equipamientos-Porcinos/100068579724974/" class="me-4 link-secondary">
                <img src="../../../assets/facebook.png" height="25px" width="25px">
            </a>
            <a href="https://termoplastweb.com.ar/" class="me-4 link-secondary">
                <img src="../../../assets/internet.png" height="25px" width="25px">
            </a>
        </div>
    </section>
    

    <section class="" style="background: #a8a2a2;">
        <div class="text-center text-md-start mt-2">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src= "../../../assets/logoTermoPlast.png" width="260" height="120" style="padding-left: 1.7rem;">
                    </h6>
                    <h2 class="newsletter">Newsletter</h2>
                    <p>  Ingrese su e-mail para suscribirse a nuestro newsletter y estar informado sobre nuestras últimas novedades.</p>
                    <a class="btn" href="#" role="button">Suscribite!!!</a>
                </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4 titulo">
                    Mapa del sitio:
                </h6>
                <ul>
                    <li>
                        <p>
                            <a href="/inicion" class="text-reset">Inicio</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/gestion-animal" class="text-reset">Gestion de Animales</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/transferencia" class="text-reset">Transferencia de Datos</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/analisis" class="text-reset">Analisis</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/alarmas" class="text-reset">Alarmas</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/nuevoanimal" class="text-reset">Agregar Animal</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4 titulo">
                    Ayuda:
                </h6>
                <ul>
                    <li>
                        <p>
                            <a href="/configuracion" class="text-reset">Configuracion</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="/FAQ" class="text-reset">Preguntas Frecuentes</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!" class="text-reset">identificate</a>
                        </p>
                    </li>
                </ul>
            </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4 titulo">Contactos:</h6>
            <p class="d-flex align-self-end"><img src="../../../assets/fabrica.png" height="25px" width="25px">Área Industrial – Lote 42N. Armstrong (STA. FE)</p>
            <p><img src="../../../assets/mail.png" height="25px" width="25px">
                    infotermoplastweb.com.ar
                    termoplast_ventashotmail.com
            </p>
            <p><img src="../../../assets/tel.png" height="25px" width="25px"> (03471) 462092 / 463805 / 490186 </p>
            <p><img src="../../../assets/horario.png" height="25px" width="31px"> Lunes a Viernes de 8:00 a 12:00,y de, 14:30 a 18:30</p>
        </div>
    </div>
    </div>
</section>
</footer>
    <!-- Section: Links  -->

  
  <!-- Copyright -->
   <!--  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
<!--   </footer> -->
  <!-- Footer -->