<nav class="navbar navbar-expand-lg" style="background-color: #615f5fd0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src= "../../../assets/logoTermoPlast.png" width="120" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link textoNav" aria-current="page" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active textoNav" aria-current="page" href="/gestion-animal">Gestion de Animales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active textoNav" aria-current="page" href="/transferencia">Transferencia de Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active textoNav" aria-current="page" href="/analisis">Analisis</a>
          </li>
          
        </ul>
        <ul class="navbar-nav me-6 mb-2 mb-lg-0 justify-content-end">
          <a  class="nav-link active textoNav" aria-current="page" href="/User+">User +</a>
          <div class="dropdown textoNav menuDrop">
            <button type="button" class="btn textoNav dropdown-toggle" style="--bs-btn-hover-border-color: transparent;--bs-btn-border-radius:0px;" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
             <i class="far fa-user-circle fa-lg" style="color: #f5f5dc;"></i>
            </button>
            <form class="dropdown-menu dropdown-menu-xl-end p-4 menuDrop" style="--bs-dropdown-min-width:20rem">
              
                <a class="nav-link textoNav " href="#" role="button">
                  <i class="far fa-id-card fa-flip-horizontal fa-lg" style="color: #b51f15;"></i>
                Mi Cuenta</a>
                  <a class="nav-link textoNav " role="button">
                    <i class="fas fa-sign-out-alt fa-lg" style="color: #b41f15;"></i>
                  Cerrar Sesion</a>
            

                </form>
          </div>
          <li class="nav-item dropdown textoNav">
            <a class="nav-link dropdown-toggle textoNav " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-question-circle fa-spin fa-lg" style="color: #f5f5dc;"></i>
            </a>
            <ul class="dropdown-menu textoNav menuDrop dropdown-menu-xl-end  ">
              <li><a class="dropdown-item" href="/configuracion">Configuracion</a></li>
              <li><a class="dropdown-item" href="/FAQ">F.A.Q</a></li>
              <li><a class="dropdown-item" href="/contacto">Contacto</a></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>